<!DOCTYPE html>
<html>
    <head>
        <title>Combinatorial Calculator</title>
        <!-- css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
         <!-- font -->
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton&display=swap" >
         <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,700;1,900&display=swap" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
         <link rel = "stylesheet" href = '/stylesheets/style.css' >
    </head>
    <body>
        <!-- Main -->
        <div class="main push">
            <h1 class="text-center m-3"><a href="/" class="anchor">Combinatorial Calculator</a></h1>
            <!-- nav bar-collapse-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <!-- dropdown menu -->
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Calculators
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-muted" href="/">Permutations and Combinations</a>
                            <a class="dropdown-item text-muted" href="/function-relation">Relations and Functions</a>
                            <a class="dropdown-item text-muted" href="/numbers">Sequence</a>
                        </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About me</a>
                        </li>
                    </ul>

                    <!-- right nav-bar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- cart -->
                        <li class="nav-item">
                            <a class="nav-link menu-btn btn " href="#" type="button"><i class="fas fa-search"></i>  Search</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    