<%-include("partials/header")%>
<div class="container-fluid push">
    <div class="card mb-3  mx-auto" style="width: 65em;" >
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="https://drive.google.com/uc?export=download&id=19nT92-Kg6Xfy8mLdk5a7g9vWpJoOVSjE" class="card-img" >
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2 class="card-title text-center mt-4" style="font-family: serif;"><b>Ching Yu Hsieh</b></h2>
              <p class="card-text text-muted mb-0">Education</p>
              <p class="card-text showcard">National Taipei University - Bachelor in Accounting</p>
              <p class="card-text text-muted mb-0">Features</p>
              <ul>
                  <li>
                    UI Optimization & Backend 
                    <ul>
                        <li>
                            Separate functions into different routes.
                        </li>
                        <li>
                            Implement more functions than required.
                        </li>
                        <li>
                            Set other fields as null while only calculating one filed.
                        </li>
                    </ul>
                  </li>
                  <li>
                    Implement Redis for Query Storage
                    <ul>
                        <li>
                            Recognize different users through cookies.
                        </li>
                        <li>
                            Store session data in redis, including previous queries.
                        </li>
                        <li>
                            Present complete result of past queries.
                        </li>
                    </ul>
                  </li>
                  <li>
                    Deploy website on AWS EC2
                  </li>
              </ul>
              <p class="card-text text-muted mb-0">Contact me</p>
              <ul>
                <li class="mt-2">
                    <a href = "https://github.com/yoyochingyu">Github</a> - <a href="https://github.com/yoyochingyu/CombinatorialCalculator">View this project</a>
                </li>
                <li>
                    <a href = "https://www.linkedin.com/in/chingyuhsieh/">Linkedin</a>
                </li>
                <li>
                    <a href = "https://www.facebook.com/yoyochingyu/">Facebook</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
<%-include("partials/footer")%>